body {
	padding:0 0 3rem;
}
div#theforms {
	margin-bottom:2em;
}
p.helptext {
	font-size:.9em;
	font-style: italic;
	color: #888;
	padding:0 .5em;
	text-transform: none;
	font-weight: normal;
}
p.savedTo {
	font-size:1.1em;
	color:#3333ff;
	margin:0;
}
p.saveError {
	font-size:1.1em;
	color:#ff3333;
	margin:0;
}
input.smallmargin, textarea.smallmargin, select.smallmargin {
	margin:.2em 0 .3em;
}
input[type="radio"] {
	margin: .5rem 0;
}
label {
	text-transform: none;
}
label.biglabel {
	font-weight:bold;
	text-transform: uppercase;
	font-size:.9em;
}
input[type="submit"] {
	text-transform: uppercase;
}
div.headerstyle {
	width:100%;
	background:#286a88;
	padding:2em 0 .5em;
	margin:0 0 1em;
}
div.headerstyle h1 {
	margin-bottom:.5em;
}
div.headerstyle h1, div.headerstyle p, div.headerstyle a {
	color:#f5f5f5;
}
div.headerstyle a {
	text-decoration: underline;
}
div.headerstyle .alert-box.alert {
	font-size:1rem;
	padding:1rem 1.5rem;
}