body {
	padding:2rem 0 3rem;
}
p.helptext {
	font-size:.9em;
	font-style: italic;
	color: #888;
	padding:0 .5em;
	text-transform: none;
	font-weight: normal;
}
p.savedTo {
	font-size:1.1em;
	color:#2222ff;
	margin:0;
}
p.saveError {
	font-size:1.1em;
	color:#ff2222;
	margin:0;
}
input.smallmargin, textarea.smallmargin, select.smallmargin {
	margin:.2em 0 .3em;
}
input[type="radio"] {
	margin: .5rem 0;
}
label {
	text-transform: none;
}
label.biglabel {
	font-weight:bold;
	text-transform: uppercase;
	font-size:.9em;
}
input[type="submit"] {
	text-transform: uppercase;
}